body {
  background-color: palegreen
}

#content {
  border-style: double;
  border-color: black;
  margin: 10px;
  padding: 10px;
  background-color: olive
}

h1 {
  border: solid 1px black;
  background-color: white;
  font-family: "Garamond", serif;
  text-transform: uppercase;
  letter-spacing: 3px
}

h2 {
  text-transform: uppercase;
  font-family: "Garamond", serif;
  letter-spacing: 3px
}

p {
  font-family: "Helvetica", sans-serif;
}

#challenge h2 {
  color: white;

}

#problems h2 {
  color: white;
}

#results h2 {
  color: white;
}
